
.dealcomponent{
    font-family: bold;
}
.Deals{
    margin-top:60px;
}
.component{
    width:200px;
    height:200px;
    float:left;
    margin-top:10px;
    margin-left: 50px;    
}
.product-img{
    width:200px;
    height:200px;
}